doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title New action needs your commitment

  body
      h3 A new action, "#{actionName}," needs your commitment
      p Hi #{name},
      p Please confirm your participation in this action at this link:
      p #{url}