doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title New Action

  body
      h3 A new action, #{actionName} is awaiting your commitment
      p Hello #{name},
      p Please visit the link below to commit to this new action:
      p #{url}

      p If you have any questions or won't be able to participate, please let us know!