doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reminder to confirm participation

  body
      p You have #{daysleft} left to confirm your participation in: #{actionName}.
      p Please do so at the link below:
      p #{url}