doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reminder to sign your Alliance membership contract

  body
      p Dear #{name},

      p We noticed you signed up for the Alliance platform, but did not sign the membership contract. Please know that you will not be assigned tasks until you sign the membership contract.
