doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sign your membership contract to participate in actions

  body
      p Dear #{name},

      p You signed up for the Alliance platform, but did not sign the membership contract. Please note that until you do, you will be unable to participate in Alliance actions.

      p The contract matters because the Alliance is built on reliability. We plan precise actions based on the number of committed members; every commitment tells us who we can count on.

      p By signing, you’re telling other members that they can count on you. Because they’ve signed, you can count on them too.

      p You can sign your contract in the tasks page: #{link}

      p
        | If you’d like to learn more about the Alliance and why reliability matters before signing, you can watch 
        a(href="https://www.youtube.com/watch?v=VS6aFXXxtmY&t=125s") this video
        | .

      p Thank you for your interest in the Alliance.

      p Best,
      p The Alliance Team
