doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title New comments

  body
      p Hi #{name},
      p You have #{count} new comments on your posts or activities.

      p You can see and reply to them at this link:
      p #{url}