doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{displayName} replied to your comment on #{postTitle}

  body
      p View and reply to the comment here: #{url}