doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action awating your completion

  body
      h1 #{actionName} has launched
      p Hello #{name},
      p You previously committed to "#{actionName}" on the Alliance.
      p You can now complete the action by clicking the link below:
      p #{url}

      p If you have any questions or won't be able to participate, please let us know!