doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action needs your completion

  body
      p #{actionName} is awaiting your completion. You have #{daysleft} left to fulfill your commitment.
      p Please do so at the link below:
      p #{url}