doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action needs your completion

  body
      p An action needs your completion: "#{actionName}."

      p You have #{daysleft} left to complete it.
      
      p #[strong Please complete the action at this link: #{url}]