doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Failed to complete action

  body
      p The deadline for "#{actionName}" has passed and you have not completed it.

      p The Alliance relies on the dependability of all members. As you have not completed two actions in a row, you have been removed as a member.

      p Please let us know if there has been an error. You can renew your membership at any time.