doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Failure to complete action

  body
      p The deadline for "#{actionName}" has passed and you have not completed it.

      p The Alliance relies on the dependability of all members. As you have not completed two actions in a row, we have suspended your contract.

      p Please let us know if there has been a mistake. You can renew your membership at any time.