doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Failed to complete action

  body
      p The deadline #{actionName} has passed and you have not completed it. If you have in fact done it, please contact us as something likely went wrong.
      
      p Alliance actions reply on dependability of all members. If you are no longer interested in being a member of the Alliance, please let us know.
      
      p If you fail to complete the next action, you will be automatically removed as a member.