doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Failed to complete action

  body
      p The deadline #{actionName} has passed and you have not completed it.
      
      p Alliance actions reply on dependability of all members. As you have not completed two actions in a row, you have been removed as a member.

      p Let us know if there has been an error or you would like to re-join at some point in the future.