doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Failure to complete action

  body
      p The deadline for "#{actionName}" has passed and you have not completed it. If you have in fact completed it, please contact us — we may have made a mistake.

      p The Alliance relies on the dependability of all members. If you are no longer interested in being a member of the Alliance, please suspend your contract.

      p If you do not complete the next action, we will suspend your contract on your behalf.