doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Thanks for your help!

  body
    p Hi #{name},
    p You recently joined an action on the Alliance. We wanted to check if you wanted to make a full account.
    p If so, you can set a password for your account by clicking the link below:
    p #{url}

    p Otherwise, we hope you'll choose to help out again soon!