doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Alliance password reset

  body
    p Hi #{name},
    p Reset your password by clicking this link:
    p #{url}
    p If you didn't request a password reset, please ignore this email.