doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action deadline reminder

  body
      p Hi #{name},
      p You agreed to complete "#{actionName}" and you only have on day left to complete your commitment.

      p Please do so at the below link:

      p #{url}